.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.form input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
}

.form input::placeholder {
    align-items: center;
    font-weight: bolder;
}

.form button {
    margin-top: 20px;
    background-color: greenyellow;
    color: black;
    width: 90px;
    height: 30px;
    border-radius: 5px;

}

.form img {
    width: 40vw;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 5px;
    aspect-ratio: 4/2.8;
}

h3 {
    color: green;
    font-size: 1.5rem;
    font-weight: bolder;
}

p {
    color: red;
    font-size: 1.2rem;
    font-weight: bolder;
}

@media screen and (max-width: 450px) {
    .form input {
        width: 210px;
    }

    .form img {
        width: 80vw;
    }

}